*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
   
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(30,146,166,1) 36%, rgba(0,212,255,1) 100%);
}
.conteiner
{
    margin: 4% auto;
    width: 80%;
    height: 800px;
    background-color: rgba(5, 5, 5, 0.354);
    border: 1px solid rgb(73, 189, 232);
    border-radius: 45px;
    opacity: 0,6;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    height: 2em;
    margin-top: 2em;
    border-bottom: 2px solid rgb(73, 189, 232);
    border-radius: 12px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
h1{
    color:rgb(2,0,36); ;
}