:root{
    --mainfont:rgb(247, 215, 175);
    --blue:rgb(73, 189, 232);
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
   
   
}

body{
    width: 100vw;
    height: 100vh;
    
    color: var(--mainfont);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(30,146,166,1) 36%, rgba(0,212,255,1) 100%);
   
}
.conteiner
{
    width: 66vw;
    height: 86vh;
    background-color: rgba(0, 0, 0, 0.042);
    border: 1px dotted var(--blue);
    box-shadow: 5px 10px rgb(73, 189, 232);;
    border-radius: 45px;
   
   
}
@media only screen and (max-width: 600px){
    .conteiner
{
    width: 96vw;
    height: 86vh;
    background-color: rgba(0, 0, 0, 0.042);
    border: 1px dotted rgb(73, 189, 232);
    box-shadow: 5px 10px rgb(73, 189, 232);;
    border-radius: 45px;
   
}}
@media (max-width: 30em) and (orientation: landscape) {
 
  }
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    
    border-bottom: 2px solid rgb(73, 189, 232);
    border-radius: 12px;
    padding-top: 10px;
}
h1{
    color:var(--mainfont); 
    text-transform: uppercase;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
}

p{
    text-align: center;
    padding-top: 1.5rem;
    
}
label{
    padding-top: 1.5rem;
}
.due{
    
   
    padding:2px;
    
    
}

.btns{
    
       
        top:50%;
        background-color:#0a0a23;
        color: #fff;
        border:none; 
        border-radius:10px; 
        padding:1.5rem;
        min-height:30px; 
        min-width: 120px;
        margin-top: 1.5rem;
      
}
.btns:hover{
    background-color: #fff;
    color: #0a0a23;
}